
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(177, 21, 93);
    font-size: medium;
    background: #DBE6F6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.rose-color{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #bb1aa7;
    
}
.half-width{
    width: 50%;
    float: left;
    line-height: 4.5 em;
}
.side-img{
    width: 80%;
    padding-left: 5%;   
}
.primary-btn{
color: rgb(255, 0, 129);
background-color: #f78bce;
padding: 15px 32px;
border-radius: 25px;
text-decoration: none;
line-height: 3.5em;
}

h3 {
    color:#ea1870
}

h4{
    color:rgb(199, 19, 124);

}
h1 {
    color:#ea1870;
    font-size: 2.5em;
    line-height: 1.5 em;
}
.container{
    padding-left: 3%;
    display: inline-block;
}

.experiences{
    padding: 30px;
    margin: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: rgb(255, 0, 149);
    border-style: dotted;
}
.experience-item{
    padding: 10px;
    border-left: 1p solid(137,130, 247, 2);
}