
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ea1870;
    font-size: medium;
    background: #DBE6F6;  
    background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  
    background: linear-gradient(to right, #C5796D, #DBE6F6); 
}
.rose-color{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #bb1aa7;
    
}
.half-width{
    width: 50%;
    float: left;

}
.side-img{
    width: 75%;  
    margin-left: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    vertical-align: text-top;
    margin-top: 15px;
}
.primary-btn{
color: rgb(255, 0, 129);
background-color: #f78bce;
padding: 15px 32px;
border-radius: 25px;
text-decoration: none;
line-height: 3.5em;
}
h2 {
    color: #c7137c
}
h4{
    color:#c7137c;
}
h1 {
    color:#ffc8df;
    font-size: 2.5em;
    line-height: 1.5 em;
}
.container{
    padding-left: 3%;
    display: inline-block;
}

.experiences{
    padding: 30px;
    margin: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: rgb(255, 0, 149);
    border-style: dotted;
}
.experience-item{
    padding: 10px;
    border-left: 1p solid(137,130, 247, 2);
}
